:root {
	--font-family: "FuturaPt", sans-serif;
	--content-width: 1200px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--white-color: #fff;
	--black-color: #000;
	--body-bg-color: #181818;
	--light-red-color: #ec3f3f;
	--red-color: #ff1e1e;
	--grey-color: #717171;
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
	opacity: 1;
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
	outline: red solid 2px;
	outline-offset: 2px;
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
	opacity: 0.4;
	pointer-events: none;
}
@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-400.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-600.woff2) format("woff2");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-900.woff2) format("woff2");
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-400.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
::after,
::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
.page {
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}
.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
	font-size: 16px;
	background: var(--body-bg-color);
}
.site-container {
	overflow: hidden;
}
.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}
.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}
@media (max-width: 768px) {
	.container {
		padding: 0 64px;
	}
}
@media (max-width: 480px) {
	.container {
		padding: 0 16px;
	}
}
@media (max-width: 355px) {
	.container {
		padding: 0 10px;
	}
}
.btn {
	color: var(--white-color);
	font-weight: 600;
	line-height: 150%;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
	-webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
	transition: box-shadow 0.3s, background 0.3s, -webkit-box-shadow 0.3s;
}
.btn:hover {
	-webkit-box-shadow: 0 -2px 24px 0 rgba(255, 30, 30, 0.5);
	box-shadow: 0 -2px 24px 0 rgba(255, 30, 30, 0.5);
	background: var(--red-color);
}
.btn__primary {
	background: var(--light-red-color);
	padding: 16px 32px;
	min-width: 205px;
}
.btn__secondary {
	background: rgba(236, 63, 63, 0.1);
	border: 1px solid rgba(236, 63, 63, 0.8);
	padding: 12px 32px;
	min-width: 222px;
	line-height: 22px;
}
@media (max-width: 350px) {
	.btn__secondary {
		min-width: unset;
		padding: 8px 22px;
	}
}
.title {
	margin: 0;
	color: var(--white-color);
	font-weight: 600;
}
.title__h1 {
	font-size: 56px;
	line-height: 100%;
}
.title__h2 {
	font-size: 40px;
	line-height: 120%;
}
.title__h3 {
	font-size: 32px;
	line-height: 125%;
}
.title__h4 {
	font-size: 24px;
	line-height: 133%;
}
.title__h4-regular {
	font-weight: 400;
}
@media (max-width: 768px) {
	.title__h1 {
		font-size: 40px;
	}
	.title__h2 {
		font-size: 32px;
		line-height: 125%;
	}
	.title__h3 {
		font-size: 24px;
		line-height: 133%;
	}
	.title__h4 {
		font-size: 20px;
		line-height: 140%;
	}
}
@media (max-width: 480px) {
	.title__h1 {
		font-size: 32px;
		line-height: 119%;
	}
	.title__h2 {
		font-size: 28px;
		line-height: 129%;
	}
	.title__h4 {
		font-size: 16px;
		line-height: 150%;
	}
}
.header {
	padding: 20px 0;
	background: var(--black-color);
}
.header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 12px;
}
.header__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header__logo {
	max-width: 130px;
	min-width: 80px;
	width: 100%;
	height: auto;
}
.hero {
	padding: 100px 0;
	background-image: url(../img/hero-bg-full.png),
		-webkit-gradient(linear, left top, right top, from(var(--black-color)), to(transparent));
	background-image: url(../img/hero-bg-full.png), linear-gradient(to right, var(--black-color), transparent);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.hero__content {
	max-width: 424px;
}
.hero__title {
	margin-bottom: 24px;
}
.hero__text {
	font-size: 16px;
	line-height: 125%;
	color: var(--white-color);
	margin: 0 0 40px;
}
@media (max-width: 768px) {
	.hero {
		padding: 60px 0 76px;
		background-image: url(../img/hero-bg-768.png),
			-webkit-gradient(linear, left top, right top, from(var(--black-color)), to(transparent));
		background-image: url(../img/hero-bg-768.png), linear-gradient(to right, var(--black-color), transparent);
	}
	.hero__content {
		max-width: 370px;
	}
	.hero__text {
		margin-bottom: 32px;
	}
}
@media (max-width: 480px) {
	.hero {
		padding: 56px 0 73px;
		background-image: url(../img/hero-bg-360.png),
			-webkit-gradient(linear, left top, right top, from(var(--black-color)), to(transparent));
		background-image: url(../img/hero-bg-360.png), linear-gradient(to right, var(--black-color), transparent);
	}
	.hero__content {
		max-width: 280px;
	}
	.hero__title {
		margin-bottom: 6px;
	}
}
.cast {
	padding: 72px 0;
}
.cast__container-paddingless {
	position: relative;
}
.cast__title {
	margin-bottom: 24px;
}
.cast__slider {
	overflow: visible;
}
.cast__image {
	width: 100%;
	height: auto;
}
.cast__content {
	padding: 24px;
	position: absolute;
	inset: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
}
.cast__content-hidden {
	color: var(--white-color);
	font-size: 16px;
	line-height: 125%;
	margin-top: 24px;
}
.cast__slide {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;
	overflow: hidden;
}
.cast__slide-visible,
.cast__slide-visible + .cast__slide {
	opacity: 1;
	visibility: visible;
}
.cast__slide:hover .cast__content {
	background: rgba(0, 0, 0, 0.6);
	-webkit-transform: translateY(0) !important;
	-ms-transform: translateY(0) !important;
	transform: translateY(0) !important;
}
.cast__pagination {
	position: static;
	margin-bottom: 32px;
	height: 2px !important;
	background: var(--grey-color);
	--swiper-pagination-color: var(--red-color);
}
.cast__navigation {
	position: absolute;
	right: 0;
	top: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 24px;
}
.cast__button {
	position: relative;
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cast__button:hover::after,
.cast__button:hover::before {
	background: var(--red-color);
	-webkit-box-shadow: 0 -2px 12px 0 var(--red-color);
	box-shadow: 0 -2px 12px 0 var(--red-color);
}
.cast__button::after,
.cast__button::before {
	content: "";
	width: 2px;
	height: 23px;
	background: var(--light-red-color);
	border-radius: 1px;
	position: absolute;
	top: 4px;
	right: 70%;
	-webkit-transform: translateY(-46%);
	-ms-transform: translateY(-46%);
	transform: translateY(-46%);
	rotate: 45deg;
	-webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.cast__button::after {
	rotate: 135deg;
}
.cast__button-next::after,
.cast__button-next::before {
	left: 70%;
}
.cast__button-next::before {
	rotate: 225deg;
}
.cast__button-next::after {
	rotate: -45deg;
}
.cast__button-disabled::after,
.cast__button-disabled::before {
	background: var(--grey-color) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
@media (max-width: 768px) {
	.cast__pagination {
		margin-bottom: 24px;
	}
}
@media (max-width: 480px) {
	.cast__title {
		margin-bottom: 16px;
	}
	.cast__button {
		width: 28px;
		height: 28px;
	}
	.cast__button::after,
	.cast__button::before {
		height: 20px;
	}
	.cast__navigation {
		gap: 12px;
	}
}
