.btn {
	color: var(--white-color);
	font-weight: 600;
	line-height: 150%;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
	transition: box-shadow 0.3s ease, background 0.3s ease;
	&:hover {
		box-shadow: 0 -2px 24px 0 rgba(255, 30, 30, 0.5);
		background: var(--red-color);
	}
	&__primary {
		background: var(--light-red-color);
		padding: 16px 32px;
		min-width: 205px;
	}
	&__secondary {
		background: rgba(236, 63, 63, 0.1);
		border: 1px solid rgba(236, 63, 63, 0.8);
		padding: 12px 32px;
		min-width: 222px;
		line-height: 22px;
	}
}

@media (max-width: 350px) {
	.btn {
		&__secondary {
			min-width: unset;
			padding: 8px 22px;
		}
	}
}
