.header {
	padding: 20px 0;
	background: var(--black-color);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
	}
	&__link {
		display: flex;
	}
	&__logo {
		max-width: 130px;
		min-width: 80px;
		width: 100%;
		height: auto;
	}
}
