.hero {
	padding: 100px 0;
	background-image: url(../img/hero-bg-full.webp), linear-gradient(to right, var(--black-color), transparent);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	&__content {
		max-width: 424px;
	}
	&__title {
		margin-bottom: 24px;
	}
	&__text {
		font-size: 16px;
		line-height: 125%;
		color: var(--white-color);
		margin: 0;
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.hero {
		padding: 60px 0 76px;
		background-image: url(../img/hero-bg-768.webp), linear-gradient(to right, var(--black-color), transparent);
		&__content {
			max-width: 370px;
		}
		&__text {
			margin-bottom: 32px;
		}
	}
}

@media (max-width: 480px) {
	.hero {
		padding: 56px 0 73px;
		background-image: url(../img/hero-bg-360.webp), linear-gradient(to right, var(--black-color), transparent);
		&__content {
			max-width: 280px;
		}
		&__title {
			margin-bottom: 6px;
		}
	}
}
