.map {
	padding-bottom: 96px;
	&__container {
		height: 540px;
	}
	&__title {
		margin-bottom: 40px;
	}
}

.ymaps3x0--main-engine-container {
	-webkit-filter: grayscale(1);
}

@media (max-width: 768px) {
	.map {
		padding-bottom: 0;
		&__title {
			margin-bottom: 24px;
		}
		&__container {
			max-width: 100%;
			height: 400px;
			padding: 0;
		}
	}
}
