<section class="cast">
	<div class="container cast__container">
		<div class="cast__container-paddingless">
			<h2 class="title title__h2 cast__title">Актерский состав</h2>
			<div class="swiper-pagination cast__pagination"></div>
			<div class="cast__navigation">
				<button class="btn-reset cast__button cast__button-prev">
					<div class="cast__arrow"></div>
				</button>
				<button class="btn-reset cast__button cast__button-next">
					<div class="cast__arrow cast__arrow-reversed"></div>
				</button>
			</div>
			<div class="swiper cast__slider">
				<div class="swiper-wrapper cast__wrapper">
					<div class="swiper-slide cast__slide">
						<img
							src="./img/heralt.webp"
							class="image cast__image"
							width="282"
							height="400"
							alt="Изображение актера"
						/>
						<div class="cast__content">
							<div class="cast__content-visible">
								<h4 class="title title__h4 cast__character">Геральт</h4>
								<h4 class="title title__h4 title__h4-regular cast__actor">Генри Кавилл</h4>
							</div>
							<div class="cast__content-hidden">
								Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта,
								трубадур и бабник
							</div>
						</div>
					</div>
					<div class="swiper-slide cast__slide">
						<img
							src="./img/lytik.webp"
							class="image cast__image"
							width="282"
							height="400"
							alt="Изображение актера"
						/>
						<div class="cast__content">
							<div class="cast__content-visible">
								<h4 class="title title__h4 cast__character">Лютик</h4>
								<h4 class="title title__h4 title__h4-regular cast__actor">Джои Бэти</h4>
							</div>
							<div class="cast__content-hidden">
								Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта,
								трубадур и бабник
							</div>
						</div>
					</div>
					<div class="swiper-slide cast__slide">
						<img
							src="./img/yen.webp"
							class="image cast__image"
							width="282"
							height="400"
							alt="Изображение актера"
						/>
						<div class="cast__content">
							<div class="cast__content-visible">
								<h4 class="title title__h4 cast__character">Йеннифер</h4>
								<h4 class="title title__h4 title__h4-regular cast__actor">Аня Чалотра</h4>
							</div>
							<div class="cast__content-hidden">
								Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта,
								трубадур и бабник
							</div>
						</div>
					</div>
					<div class="swiper-slide cast__slide">
						<img
							src="./img/ciri.webp"
							class="image cast__image"
							width="282"
							height="400"
							alt="Изображение актера"
						/>
						<div class="cast__content">
							<div class="cast__content-visible">
								<h4 class="title title__h4 cast__character">Цири</h4>
								<h4 class="title title__h4 title__h4-regular cast__actor">Фрейя Аллан</h4>
							</div>
							<div class="cast__content-hidden">
								Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта,
								трубадур и бабник
							</div>
						</div>
					</div>
					<div class="swiper-slide cast__slide">
						<img
							src="./img/emgir.webp"
							class="image cast__image"
							width="282"
							height="400"
							alt="Изображение актера"
						/>
						<div class="cast__content">
							<div class="cast__content-visible">
								<h4 class="title title__h4 cast__character">Эмгыр вар Эмрейс</h4>
								<h4 class="title title__h4 title__h4-regular cast__actor">Барт Эдвардс</h4>
							</div>
							<div class="cast__content-hidden">
								Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта,
								трубадур и бабник
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
