<footer class="footer">
	<div class="container footer__container">
		<a class="footer__container-logo" href="#">
			<img src="./img/logo.png" class="image footer__logo" width="130" height="44" alt="Логотип" />
		</a>
		<a class="footer__link" href="#">Политика обработки персональных данных</a>
		<div class="footer__socials">
			<a href="#"><img src="./img/inst.svg" class="image" width="32" height="32" alt="Иконка Instagram" /></a>
			<a href="#"><img src="./img/fb.svg" class="image" width="32" height="32" alt="Иконка Facebook" /></a>
			<a href="#"><img src="./img/vk.svg" class="image" width="32" height="32" alt="Иконка Vkontakte" /></a>
		</div>
	</div>
</footer>
