<section class="photos">
	<div class="container photos__container">
		<h2 class="title title__h2 photos__title">Кадры со съемок</h2>
		<div class="photos__grid">
			<picture class="photos__picture photos__picture-main">
				<source srcset="./img/photo-1-480.png" type="image/png" media="(max-width: 480px)" />
				<img
					src="./img/photo-1.png"
					class="image photos__image photos__image-main"
					width="588"
					height="588"
					alt="Фото со съемок"
				/>
			</picture>
			<picture class="photos__picture">
				<source srcset="./img/photo-2-480.png" type="image/png" media="(max-width: 480px)" />
				<img
					src="./img/photo-2.png"
					class="image photos__image"
					width="282"
					height="282"
					alt="Фото со съемок"
				/>
			</picture>
			<picture class="photos__picture">
				<source srcset="./img/photo-3-480.png" type="image/png" media="(max-width: 480px)" />
				<img
					src="./img/photo-3.png"
					class="image photos__image"
					width="282"
					height="282"
					alt="Фото со съемок"
				/>
			</picture>
			<picture class="photos__picture">
				<!-- в макете нет версии под мобильное устройство -->
				<!-- <source srcset="./img/photo-4-480.png" type="image/png" media="(max-width: 480px)" /> -->
				<img
					src="./img/photo-4.png"
					class="image photos__image"
					width="282"
					height="282"
					alt="Фото со съемок"
				/>
			</picture>
			<picture class="photos__picture">
				<!-- в макете нет версии под мобильное устройство -->
				<!-- <source srcset="./img/photo-5-480.png" type="image/png" media="(max-width: 480px)" /> -->
				<img
					src="./img/photo-5.png"
					class="image photos__image"
					width="282"
					height="282"
					alt="Фото со съемок"
				/>
			</picture>
		</div>
		<button class="btn-reset btn btn__secondary photos__btn">Показать еще</button>
	</div>
</section>
