html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.page {
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}

.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
	font-size: 16px;
	background: var(--body-bg-color);
}

.site-container {
	overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}

@media (max-width: 768px) {
	.container {
		padding: 0 64px;
	}
}

@media (max-width: 480px) {
	.container {
		padding: 0 16px;
	}
}

@media (max-width: 355px) {
	.container {
		padding: 0 10px;
	}
}
