:root {
	// base
	--font-family: "FuturaPt", sans-serif;
	--content-width: 1200px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #000;
	--body-bg-color: #181818;
	--light-red-color: #ec3f3f;
	--red-color: #ff1e1e;
	--grey-color: #717171;
	--dark-grey-color: #343338;
}
